{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
    <div class="block gray-bg top-padd30">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" title="" itemprop="url">Home</a></li>
                <li class="breadcrumb-item active">Cart</li>
            </ol>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="sec-box">
                        <div class="row">
                            <h4 class="title3" itemprop="headline"><span class="sudo-bottom sudo-bg-red">Cart</span></h4>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <ul class="dishes-list">
                                <li class="wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                    <div class="featured-restaurant-box">
                                        <div class="featured-restaurant-thumb">
                                            <a href="#" title="" itemprop="url"><img src="{% static 'assets/images/resource/dish-img1-1.jpg' %} " alt="dish-img1-1.jpg' %} " itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="#" title="" itemprop="url">Pizza Takeaway</a></h4>
                                            
                                            <p itemprop="description">Lorem Ipsum is simply dummy text of the printing industry</p>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-check-circle-o"></i> Min order $50</li>
                                                <li><i class="flaticon-transport"></i> 30min</li>
                                            </ul>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <span class="price text-center ">$85.00 </span>
                                            <div class="qty-wrap">
                                                <div class="input-group bootstrap-touchspin">
                                                    <input class="qty form-control" type="text" value="1" style="display: block;">
                                                </div>
                                            </div>
                                            <br>
                                            <p class="text-center">
                                                <a href="#" title="" class="float-left">remove</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                    <div class="featured-restaurant-box">
                                        <div class="featured-restaurant-thumb">
                                            <a href="#" title="" itemprop="url"><img src="{% static 'assets/images/resource/dish-img1-2.jpg' %} " alt="dish-img1-2.jpg' %} " itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="#" title="" itemprop="url">Extra Cheese Pizza</a></h4>
                                            <p itemprop="description">Lorem Ipsum is simply dummy text of the printing industry</p>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-check-circle-o"></i> Min order $50</li>
                                                <li><i class="flaticon-transport"></i> 30min</li>
                                            </ul>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <span class="price text-center ">$85.00 </span>
                                            <div class="qty-wrap">
                                                <div class="input-group bootstrap-touchspin">
                                                    <input class="qty form-control" type="text" value="1" style="display: block;">
                                                </div>
                                            </div>
                                            <br>
                                            <p class="text-center">
                                                <a href="#" title="" class="float-left">remove</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                    <div class="featured-restaurant-box">
                                        <div class="featured-restaurant-thumb">
                                            <a href="#" title="" itemprop="url"><img src="{% static 'assets/images/resource/dish-img1-3.jpg' %} " alt="dish-img1-3.jpg' %} " itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="#" title="" itemprop="url">Pizza Oven Testing Pronto</a></h4>
                                            
                                            <p itemprop="description">Lorem Ipsum is simply dummy text of the printing industry</p>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-check-circle-o"></i> Min order $50</li>
                                                <li><i class="flaticon-transport"></i> 30min</li>
                                            </ul>
                                        </div>
                                        <div class="ord-btn">
                                            <a class="brd-rd2" href="#" title="Order Now" itemprop="url">Order Now</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                    <div class="featured-restaurant-box">
                                        <div class="featured-restaurant-thumb">
                                            <a href="#" title="" itemprop="url"><img src="{% static 'assets/images/resource/dish-img1-4.jpg' %} " alt="dish-img1-4.jpg' %} " itemprop="image"></a>
                                        </div>
                                        <div class="featured-restaurant-info">
                                            <h4 itemprop="headline"><a href="#" title="" itemprop="url">Chicken Bacon Ranch</a></h4>
                                            <span class="price">$85.00</span>
                                            <p itemprop="description">Lorem Ipsum is simply dummy text of the printing industry</p>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-check-circle-o"></i> Min order $50</li>
                                                <li><i class="flaticon-transport"></i> 30min</li>
                                            </ul>
                                        </div>
                                        <div class="ord-btn">
                                            <a class="brd-rd2" href="#" title="Order Now" itemprop="url">Order Now</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="order-wrapper">
                                <div class="order-inner gradient-brd">
                                    <h4 itemprop="headline">Your Order</h4>
                                    <div class="order-list-wrapper">

                                        <ul class="order-total">
                                            <li><span>SubTotal</span> <i>$158</i></li>
                                            <li><span>Delivery fee</span> <i>$70</i></li>
                                            <li><span>Tax</span> <i>$12</i></li>
                                        </ul>
                                        <ul class="order-method brd-rd2 red-bg">
                                            <li><span>Total</span> <span class="price">$340</span></li>
                                            <li><span class="radio-box"><input type="radio" name="method" id="pay1-1" checked><label for="pay1-1"><i class="fa fa-money"></i> Cash</label></span> <span class="radio-box"><input type="radio" name="method" id="pay1-2" disabled><label for="pay1-2"><i class="fa fa-credit-card-alt"></i> Card</label></span></li>
                                            <li><a class="brd-rd2" href="#" title="" itemprop="url">CONFIRM ORDER</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}